<!DOCTYPE html>
<html  class="htmlTag" lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tag Page</title>
    <link rel="stylesheet" href="../Css/Style.css">
    <link rel="stylesheet" href="../Css/Layout.css">
</head>

<div class="mainPostContainer">

    <div >
        <div class="category-button">
            <a href="indexTemplate.html" th:href="@{'/indexTemplate'}">Categories</a>
        </div>

    </div>
    <header>
        <h1 class="header__title">Here are all of our Tags</h1>

    </header>

    <body class="bodyContainer">

    <div class="categoryContainer">

        filler text 1
    </div>

    <div class="categoryContainer">

        filler text 2
    </div>



    </body>



</div>
</html>